header.page-head
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
        "data-lg-auto-height": "true",
        "data-md-layout": 'rd-navbar-fixed',
        "data-lg-layout": 'rd-navbar-static',
        "data-lg-stick-up": 'true'
    },
    "<img class='img-responsive' width='374' height='61' src='../../images/index/top/logo_bibasset.svg' alt=''/>",
    cfg.nav.home,
    cfg.nav
    )