include ./_ui_accordion-classic

.section-top-0.section-sm-top-50.section-sm-bottom-50.offset-top-30.offset-lg-top-0.questions
    +accordion-classic(["問題1", "問題2"])
        div.des
            | 答案1
        div.des
            | 答案2