// Default footer
footer.section-relative.section-top-66.section-bottom-34.page-footer.bg-gray-base.context-dark
  .shell
    .range.range-sm-center.text-lg-left
      .cell-sm-2.cell-md-2
        h6.text-uppercase.text-spacing-60 TITLE
        ul.footerContact
          li
            a.text-uppercase.text-ubold(href="https://www.facebook.com/bibasset/",target="_blank")
              img(src="../../images/index/top/facebook_icon.svg",class="top_icon")

          li
            a.text-uppercase.text-ubold(href=line_link,target="_blank")
              img(src="../../images/index/top/line_icon.svg",class="top_icon")
            

      .cell-sm-10.cell-md-10.footerRight
        .range.range-xs-left.range-md-center

          .cell-xs-6.offset-top-41.offset-xs-top-0.text-xs-left.cell-md-2.cell-lg-2.cell-lg-push-3
            h6.text-uppercase.text-spacing-60 Right_TITLE
            .reveal-block
              .reveal-inline-block
                ul.list.list-marked
                  li
                    a(href="index.html",class="text-bold") submenu1
                ul.list.list-unstyled.list-sub
                  li
                    a(href="index.html") submenu1_1

          .cell-xs-6.offset-top-41.offset-xs-top-0.text-xs-left.cell-md-2.cell-lg-2.cell-lg-push-3
            h6.text-uppercase.text-spacing-60 　
            .reveal-block
              .reveal-inline-block
                ul.list.list-marked
                  li
                    a(href="index.html",class="text-bold") submenu2
                ul.list.list-unstyled.list-sub
                  li
                    a(href="index.html") submenu2_1
                  li
                    a(href="index.html#serviceDetail") submenu2_2

          .cell-xs-6.offset-top-41.offset-xs-top-0.text-xs-left.cell-md-2.cell-lg-2.cell-lg-push-3
            h6.text-uppercase.text-spacing-60 　
            .reveal-block
              .reveal-inline-block
                ul.list.list-marked
                  li
                    a(href="index.html",class="text-bold") submenu2
                ul.list.list-unstyled.list-sub
                  li
                    a(href="index.html") submenu2_1
                  li
                    a(href="index.html#serviceDetail") submenu2_2


          .cell-xs-6.offset-top-41.offset-xs-top-0.text-xs-left.cell-md-2.cell-lg-2.cell-lg-push-3
            h6.text-uppercase.text-spacing-60 　
            .reveal-block
              .reveal-inline-block
                ul.list.list-marked
                  li
                    a(href="index.html",class="text-bold") submenu2
                ul.list.list-unstyled.list-sub
                  li
                    a(href="index.html") submenu2_1
                  li
                    a(href="index.html#serviceDetail") submenu2_2

          .cell-xs-6.offset-top-41.offset-xs-top-0.text-xs-left.cell-md-2.cell-lg-2.cell-lg-push-3
            h6.text-uppercase.text-spacing-60 　
            .reveal-block
              .reveal-inline-block
                ul.list.list-marked
                  li
                    a(href="index.html",class="text-bold") submenu2
                ul.list.list-unstyled.list-sub
                  li
                    a(href="index.html") submenu2_1
                  li
                    a(href="index.html#serviceDetail") submenu2_2

   
  .shell.offset-top-50.text-center
    p.license #{footer_license}
    p.small.text-darker Brilliant Asia Asset Management © Copyright 2018
      | &nbsp;
      span#copyright-year 
      | &nbsp; . Privacy Policy

  script.
    (function(){document.getElementById("copyright-year").innerHTML = new Date().getFullYear();})();
